.to-cover {
    max-width: 1200px;
    margin: 0 auto;
    background-color: transparent;
    font-size: 14px;
}

.to-cover input[type=radio]{
    outline: 0;
}

.to-cover input[type=checkbox]{
    outline: 0;
}

