@font-face {
    font-family: 'Roboto_Bold';
    src: url('../fonts/Roboto_Bold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto_Light';
    src: url('../fonts/Roboto_Light.woff') format('woff');
}

@font-face {
    font-family: 'Roboto_Medium';
    src: url('../fonts/Roboto_Medium.woff') format('woff');
}

@font-face {
    font-family: 'Roboto_Regular';
    src: url('../fonts/Roboto_Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto_Thin';
    src: url('../fonts/Roboto_Thin.woff') format('woff');
}

body {
    background-color: #f8f8f8;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

a,
a:hover,
a:focus,
a:active
a:visited {
    text-decoration: none !important;
    outline: 0;
}

.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-left-right {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-top-bottom {
    padding-top: 0;
    padding-bottom: 0;
}
.no-margin {
    margin: 0;
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-right {
    margin-right: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-left-right {
    margin-left: 0;
    margin-right: 0;
}

.no-margin-top-bottom {
    margin-top: 0;
    margin-bottom: 0;
}